In [3]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

In [4]:
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

### Player Count

In [22]:
#Print Total number of players 
totplayers= purchase_data["SN"].nunique()
print("Total Players: " +str(totplayers))

Total Players: 576

### Purchasing Analysis (Total)

In [31]:
#Number of Unique Items 
unqit= purchase_data["Item Name"].nunique()
#Average Purchase price 
avgprice="$"+ str(round(purchase_data["Price"].mean(),2))
#total number of purchases
totpurch=purchase_data["Purchase ID"].count()
#total revenue
totrev="$"+str(round(purchase_data["Price"].sum(),2))

#print in data frame
totanalysis_df= pd.DataFrame({"Number of Unique Items":[unqit],
                             "Average Price":[avgprice],
                             "Number of Purchases":[totpurch],
                             "Total Revenue":[totrev]})
totanalysis_df.head()

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780      $2379.77

### Gender Demographics

In [61]:
#percentage and count of male players 

countmale=len(purchase_data.loc[purchase_data["Gender"]=="Male"])
percmale=round(countmale/totplayers *100)

#Percentage and Count of Female Players

countfemale=len(purchase_data.loc[purchase_data["Gender"]=="Female"])
percfemale=round(countfemale/totplayers *100) 

#Percentage and Count of Other / Non-Disclosed

countother=len(purchase_data.loc[(purchase_data["Gender"]!="Female") & (purchase_data["Gender"]!="Male")])
percother=round(countother/totplayers * 100)

652
113
15

### Purchasing Analysis (Gender)